@inherits LayoutComponentBase

<BlazoredToasts />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            <div class="card col-8 p-4">
                <div class="card-body">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>